argcomplete==1.8.1
asciinema==2.1.0
asgiref==3.8.1
asttokens==2.4.1
Babel==2.8.0
beautifulsoup4==4.12.3
blinker==1.4
brain-games==0.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.0.3
colorama==0.4.6
command-not-found==0.3
cowsay==6.1
cryptography==3.4.8
dbus-python==1.2.18
decorator==5.1.1
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==5.1.7
dogesay==1.0.0b1
dotenv==0.9.9
exceptiongroup==1.2.2
executing==2.0.1
flake8==7.1.1
Flask==2.0.1
gunicorn==23.0.0
hello @ file:///home/ayu_263_ekb/hello
hexlet-code @ file:///home/ayu_263_ekb/new-project-49/dist/hexlet_code-0.1.0-py3-none-any.whl#sha256=ff10fa77004f28636eef2a6c602fa599f1488584e492b5b37c4c9ec7d32209c6
hexlet-python-package @ git+https://github.com/hexlet-boilerplates/python-package.git@ee822d242c86b51cb8069f03c31d4fdd0bd4f4ab
httplib2==0.20.2
idna==3.10
importlib-metadata==4.6.4
ipython==8.26.0
itsdangerous==2.1.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.0.3
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
livereload==2.6.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mkdocs==1.1.2
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
packaging==21.3
parso==0.8.4
pexpect==4.9.0
pipx==1.0.0
prompt==0.4.1
prompt_toolkit==3.0.47
psutil==5.9.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.11.2
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyprimer==0.1.0
python-apt==2.4.0+ubuntu2
python-dotenv==1.0.1
pytz==2022.1
PyYAML==5.4.1
requests==2.32.3
SecretStorage==3.3.1
simplejson==3.17.6
six==1.16.0
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
systemd-python==234
tornado==6.1
traitlets==5.14.3
typing_extensions==4.12.2
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.3.0
userpath==1.8.0
uv==0.5.8
validators==0.34.0
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==2.0.2
zipp==1.0.0
