{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="container wrapper flex-grow-1">

<h1 class="my-4">Пользователи</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  {% for user in object_list %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.date_joined }}</td>
       <td>
          {% if request.user.is_authenticated %}
              <a href="/users/{{ user.id }}/update/">Изменить</a>
              <br>
              <a href="/users/{{ user.id }}/delete/">Удалить</a>
          {% else %}
              <p class="text-danger">У вас нет прав для изменения другого пользователя.</p>
          {% endif %}
        </td>
      </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
