{% extends 'base.html' %}

{% block create %}
<div class="container wrapper flex-grow-1">
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="my-4">Регистрация</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Автоматически отображает все поля формы -->
        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    </form>
</div>
{% endblock %}