{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
 <h1 class="my-4">{{ title }}</h1>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container wrapper flex-grow-1">


    <form method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form form layout='horizontal' %}

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">
                    {% if object %}Изменить{% else %}Создать{% endif %}
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}





