{% extends 'base.html' %}

{% block content %}



{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}






<h1>Задачи</h1>
<a href="{% url 'task_create' %}" class="btn btn-primary">Создать задачу</a>

<div class="container wrapper flex-grow-1">

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Статус</th>
      <th>Автор</th>
      <th>Исполнитель</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="/tasks/{{ task.id }}/">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td><a>{{ task.author }}</a></td>
        <td><a>{{ task.executor}}</a></td>
        <td>{{ task.created_at }}</td>


       <td>
           <form>
              {% csrf_token %}
              <a href="/tasks/{{ task.id }}/update/">Изменить</a>
              <br>
              <a href="/tasks/{{ task.id }}/delete/">Удалить</a>
           </form>
        </td>
      </tr>
     {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}




